
/****************************************************/
/*************** START: MAP SECTION *****************/
/****************************************************/

#map {
    width: 100%;
    height: 532px;
    background-color: #d2054d;
}

/******************************************************/
/***************** END: MAP SECTION *******************/
/******************************************************/